# History files
.Rhistory

# Example code in package build process
*-Ex.R

# Mac stuff
.DS_Store
*.history
test/testground.r
test/testground.txt

# Emacs stuff
auto
.#*

# Latex stuff
*.aux
*.fdb*
*.fls
*.log
*.synctex.gz
*.out
*.bcf
*.run.xml

# Rmd stuff
Rmd/cache
Rmd/figure
Rmd/*.html

docs/_minted-rintro/
docs/*.png
docs/*.pdf
docs/rintro.tex

website/

data/

_site/
site_libs/
