# History files
.Rhistory

# Example code in package build process
*-Ex.R

# Mac stuff
.DS_Store
*.history
test/testground.r
test/testground.txt

# Emacs stuff
auto

# Latex stuff
*.aux
*.fdb*
*.fls
*.log
*.synctex.gz

Rmd/cache
Rmd/figure

website/
docs/
